<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>        
        <%
            arr=XQuery('for $emp in collaborators return $emp')
            for (i in arr) {
                emp = i.fullname
                
        %>
            <ul>
                <li><%= (emp) %></li>            
            </ul>
        <% } %>
    </body>
</html>