.App {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 1121px;
height: 732px;
left: 80px;
top: 64px;
}

.userCard {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 357px;
  height: 314px;
  background: #FFFFFF;
  border-radius: 16px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.cardHeader {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #262C40;  
}

.cardText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8189A3;
  gap: 14px;
}

.cardTextField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 162px;
  height: 60px;
}

.modalMainInfo table {
  border-spacing: 0 1rem;
  border-collapse: separate;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;

  width: 100%;
  height: 30px;
}

/* .modalInfoHeadings, .modalText {
text-align: left;
vertical-align: top;
} */

.modalInfoHeadings {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 14px;
width: 137px;
height: 176px;
flex: none;
order: 0;
flex-grow: 0;

}

.modalMainInfo .modalText {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #8189A3;
/* Frame 4825 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 14px;

width: 275px;
height: 188px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}

.modalMainInfo {
  /* Frame 4826 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 452px;
height: 188px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.modalExtraInfo {
  /* Frame 4827 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 452px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

.modalExtraInfo .modalInfoHeadings {
width: 254px;
height: 24px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #262C40;
flex: none;
order: 0;
flex-grow: 0;
}

.modalExtraInfo .modalText {
width: 452px;
height: 54px;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #8189A3;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}